.activity-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-style: italic;
    padding: 1rem;
    .activity-card{
        display: flex;
        font-size: 1.3rem;
        justify-content: space-around;
        align-items: center;
        width: 150%;
        background-color: rgba(133, 64, 0, 0.702);
        border: 1px solid black;
        border-radius: 10px;
    }
}