.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .landing-image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .landing-title1 {
    color: white;
    position: absolute;
    top: 5%;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.224);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    text-shadow: 0.05rem 0.1rem 0 black;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    &:hover {
      cursor: default;
      background-color: rgba(102, 69, 38, 0.559);
      font-size: 2.8rem;
      transition: 0.1s cubic-bezier(1, 0, 0, 1);
    }
  }
  .landing-title2 {
    color: white;
    position: absolute;
    top: 41%;
    font-size: 3.7rem;
    background-color: rgba(0, 0, 0, 0.224);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    text-shadow: 0.07rem 0.1rem 0 black;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    &:hover {
      cursor: default;
      background-color: rgba(102, 69, 38, 0.559);
      text-shadow: 0 0.28rem 0.15rem rgb(0, 0, 0);
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
      font-size: 3.4rem;
      transition: 0.1s cubic-bezier(1, 0, 0, 1);
    }
  }
  .landing-btn {
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    align-items: flex-end;
    top: 85%;
    left: 72%;
    background-color: rgba(255, 255, 255, 0.153);
    border: 0.1rem solid transparent;
    border-radius: 0.25rem;
    backdrop-filter: blur(2px);
    text-shadow: 0.07rem 0.1rem 0 rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 0rem black;
    &:hover {
      background-color: rgba(122, 64, 39, 0.472);
      font-size: 1.4rem;
      left: 73%;
      backdrop-filter: blur(2px);
      box-shadow: 0.1rem 0.1rem 0rem 0rem black;
      transition: all 0.4s cubic-bezier(0.65, 0, 0.076, 1);
    }
    &:active {
      font-size: 1rem;
      left: 75%;
      transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);
    }
  }
}
