.nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  align-items: center;
  @media (max-width: 768px){
    position: relative;
    display: inline-block;
    width: max-content;
  }
  .nav-btn {
    position: relative;
    padding: 0.2rem;
    transition: 0.2s;
    color: white;
    text-shadow: 0.16rem 0.1rem 0 black;
    font-size: inherit;
    background-color: rgb(111, 24, 0);
    border: 2px solid transparent;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0 0 black;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: rgb(125, 123, 0);
    }
    &:active {
      transform: scale(0.95);
    }
    @media (max-width: 768px) {
      left: 125%;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    @media (max-width: 425px) {
      left: 40%;
    }
    @media (max-width: 375px) {
      left: 30%;
    }
    @media (max-width: 320px) {
      left: 20%;
    }
  }
}
